---
import { Image } from "astro:assets";
import Wrapper from "../shared/Wrapper.astro";
import Headline from "../shared/Headline.astro";
import "./awards.scss";
---

<div class="awards">
  <Wrapper>
    <div class="awards-title">
      <Headline ele="h2" hlstyle="four">Awards + Accolades</Headline>
    </div>
    <div class="awards-logos">
      {
        Astro.props.data.logos.map((logo) => {
          return (
            <div class="awards-logos-logo">
              <div class="awards-logos-logo-wrap">
                {logo.externalUrl !== "" ? (
                  <a
                    target="_blank"
                    target="_blank"
                    rel="noopener noreferrer"
                    href={logo.externalUrl}
                  >
                    <Image
                      src={logo.logo.sourceUrl}
                      alt={logo.logo.altText}
                      inferSize={true}
                    />
                  </a>
                ) : (
                  <Image
                    src={logo.logo.sourceUrl}
                    alt={logo.logo.altText}
                    inferSize={true}
                  />
                )}
              </div>
            </div>
          );
        })
      }
    </div>
  </Wrapper>
</div>
