---
import { Image } from "astro:assets";
import Button from "../shared/Button.astro";
import Headline from "../shared/Headline.astro";
import Wrapper from "../shared/Wrapper.astro";
import "./collaborative.scss";
---

<div class="collab">
  <Wrapper classes="collab-wrapper">
    <div class="collab-title">
      <Headline ele="h2" hlstyle="four">{Astro.props.data.mainTitle}</Headline>
    </div>
    <div class="collab-content" set:html={Astro.props.data.mainContent} />
    <div class="collab-button">
      <Button href={`${Astro.props.data.buttonLink.uri}#our-process`}
        >{Astro.props.data.buttonText}</Button
      >
    </div>
    {
      !!Astro.props.data.displayTestimonials && (
        <div class="collab-testimonials">
          {Astro.props.testimonials.map((testimonial) => {
            return (
              <div class="collab-testimonials-single">
                <div
                  class="collab-testimonials-single-quote"
                  set:html={testimonial.testimonialContent.testimonialQuote}
                />
                <div class="collab-testimonials-single-frog">
                  <Image
                    src={Astro.props.logo.sourceUrl}
                    alt="Orange Frog Productions Inc."
                    inferSize={true}
                  />
                </div>
                <div class="collab-testimonials-single-author">
                  <p>
                    <span>&#8211;</span> {testimonial.title}
                  </p>
                </div>
              </div>
            );
          })}
          <div class="collab-test-link">
            <Button href="/testimonials">Client Testimonials</Button>
          </div>
        </div>
      )
    }
  </Wrapper>
  <div class="bg-image"></div>
  <div class="bg-overlay"></div>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  const testContainer = document.querySelector(".collab");
  const testimonials = document.querySelectorAll(".collab-testimonials-single");

  if (testimonials && testContainer) {
    gsap.fromTo(
      testimonials,
      { autoAlpha: 0, y: 100 },
      {
        duration: 1,
        autoAlpha: 1,
        y: 0,
        ease: "back.out(1.7)",
        scrollTrigger: {
          start: "top 10%",
          markers: false,
          trigger: testContainer,
        },
        stagger: {
          each: 0.5,
        },
      },
    );
  }
</script>
