---
import { Image } from 'astro:assets';
import Wrapper from '../shared/Wrapper.astro';
import './events.scss';
import Headline from '../shared/Headline.astro';
---

<div class="swb-events">
   <Wrapper>
    <div class="swb-events-content">
        <div class="swb-events-content-main-title">
            <Headline ele="h2" hlstyle="four">{Astro.props.data.mainTitle}</Headline>
        </div>
        <div class="swb-events-content-intro" set:html={Astro.props.data.introContent} />
        <div class="swb-events-content-links">
            <ul>
                {Astro.props.data.eventSectionLinks.map(link => {
                    return <li><a href={`/services/events#${link.sectionId}`}>{link.linkTitle}</a></li>
                })}
            </ul>
        </div>
    </div>
    <div class="swb-events-image">
        <div class="swb-events-image-wrap">
            <Image src={Astro.props.data.mainImage.sourceUrl} alt={Astro.props.data.mainImage.altText} inferSize={true} />
        </div>
    </div>
   </Wrapper>
</div>