---
import "./eventTypes.scss";
import EventImageSlider from "./EventImageSlider.jsx";
---

<div class="event-types">
  <div class="event-types-wrappper">
    <div class="event-types-title">
      <h1>
        <a href="/services/">
          {Astro.props.data.mainTitle}
        </a>
      </h1>
    </div>
    {
      Astro.props.data.sections.map((section) => {
        return (
          <div id={`${section.sectionId}`} class="event-type">
            <div class="event-type-content">
              <div class="event-type-content-title">
                <h2>{section.title}</h2>
              </div>
              <div class="event-type-content-para" set:html={section.content} />
              <div class="event-type-content-button">
                <a href={`${section.linkPage.uri}`}>{section.linkText}</a>
              </div>
            </div>
            <div class="event-type-image">
              <EventImageSlider client:only="react" images={section.images} />
            </div>
          </div>
        );
      })
    }
  </div>
</div>
