---
import { Image } from "astro:assets";
import Wrapper from "../shared/Wrapper.astro";
import "./projectList.scss";
let rowCount = 0;
let classListEven = ["projects-item-small", "projects-item-big"];
let classListOdd = ["projects-item-big", "projects-item-small"];

const classProjects = Astro.props.data.map((item, index) => {
  if (rowCount % 2 === 0) {
    if (index !== 0 && index % 2 !== 0) {
      rowCount = rowCount + 1;
    }
    return { ...item, className: classListEven[index % 2] };
  } else {
    if (index % 2 !== 0) {
      rowCount = rowCount + 1;
    }
    return { ...item, className: classListOdd[index % 2] };
  }
});
---

<div class="projects">
  <Wrapper>
    {
      classProjects.map((proj) => {
        return (
          <div class={`projects-item ${proj.className}`}>
            <a class="projects-item-wrap" href={`/portfolio/${proj.slug}`}>
              <div class="projects-item-image">
                <Image
                  src={proj.projects.featuredImage.sourceUrl}
                  alt={proj.projects.featuredImage.altText}
                  width="2500"
                  height="1250"
                />
              </div>
              <div class="projects-item-title">
                <h3>{proj.title}</h3>
                {/* <p>{proj.projects.projectCategory}</p> */}
              </div>
            </a>
          </div>
        );
      })
    }
  </Wrapper>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  const listItems = [...document.querySelectorAll(".projects-item ")];
  listItems.forEach((item, index) => {
    const itemWrap = item.querySelector(".projects-item-wrap");
    gsap.fromTo(
      itemWrap,
      { autoAlpha: 0, y: 25 },
      {
        autoAlpha: 1,
        y: 0,
        duration: 0.2,
        delay: index % 2 === 0 ? 0 : 0.2,
        scrollTrigger: {
          start: "top 35%",
          markers: false,
          trigger: item,
        },
      },
    );
  });
</script>
