---
import LayoutHome from '../layouts/LayoutHome.astro';
import OpeningHero from '../components/Home/OpeningHero.astro';
import Founder from '../components/Home/Founder.astro';
import Creativity from '../components/Home/Creativity.astro';
import Experiences from '../components/Home/Experiences.astro';

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
	method: "POST",
	headers: {
		"content-type": "application/json",
	},
	body: JSON.stringify({
    	query: `
			query homePageQuery {
				page(id: "/", idType: URI) {
					homePage {
						homeOpeningComponent {
							homeOpeningButtonLink {
								... on Page {
									id
									uri
								}
							}
							homeOpeningButtonText
							homeOpeningTitle
							homeOpeningImage {
							altText
							sourceUrl
							}
						}
						ceoFounderComponent {
							bigPurple
							buttonText
							smallText
							buttonLink {
								... on Page {
									id
									uri
								}
							}
								
						}
						creativityComponent {
							heroImage {
								sourceUrl
								altText
							}
							contentUnderImages
							orangeTitle
							linkImage {
								sourceUrl
								altText
							}
							videoOrPhoto {
								sourceUrl
								altText
							}
							linkImagePage {
							... on Page {
									id
									uri
								}
							}
						}

						experiencesComponent {
							buttonText
							content
							buttonLink {
								... on Page {
									id
									uri
								}
							}
							
							heroImage {
								altText
								sourceUrl
							}
							linkImage {
								altText
								sourceUrl
							}
							linkImageButtonLink {
							... on Page {
									id
									uri
								}
							}
        					linkImageButtonText
						}
					}
				}
			}
		`,
  	}),
});

const {data: {page} } = await response.json();
const title = page.seo?.title ? page.seo?.title : null;
const description = page.seo?.metaDesc
  ? page.seo?.metaDesc
  : null;
const metaImg = page.featuredImage?.node?.sourceUrl
  ? page.featuredImage?.node?.sourceUrl
  : null;

---

<LayoutHome metaTitle={title} metaDescription={description} metaImg={metaImg}>
	<div class="home-page-wrap">
		<div class="container">
			<OpeningHero data={page.homePage.homeOpeningComponent} />
			<Founder data={page.homePage.ceoFounderComponent} />
			<Creativity data={page.homePage.creativityComponent} />
			<Experiences data={page.homePage.experiencesComponent} />
		</div>
	</div>
</LayoutHome>

<script>
	import { gsap } from "gsap"
	import { ScrollTrigger } from "gsap/ScrollTrigger"
	gsap.registerPlugin(ScrollTrigger)
	let container = document.querySelector(".container")
	let mm = gsap.matchMedia()

	mm.add(
      {
        isMobile: "(max-width: 767px)",
        isDesktop: "(min-width: 768px)",
      },
	  context => {
		let { isMobile, isDesktop } = context.conditions
		if (isDesktop) {

		// This is the GSAP Sidescrolling. //
  		let mainScroll = gsap.to(['#opening-home-hero','#founder-component', '#creativity-hero', '#experiences-component'], {
            x: () =>
              -(container.scrollWidth - document.documentElement.clientWidth) +
              "px",
            ease: "none",
            scrollTrigger: {
              invalidateOnRefresh: true,
              pin: true,
              scrub: 1,
              trigger: container,
              end: () =>
                container.scrollWidth - document.documentElement.clientWidth,
            },
          })

		  // Animations for the Hero Section
		  const bgOpeningContainer = document.querySelector("#opening-home-hero .bg-image")
		  gsap.fromTo(bgOpeningContainer,{ x: "-15%", ease: "none"},  {
            x: "15%",
            ease: "none",
            scrollTrigger: {
              containerAnimation: mainScroll,
              trigger: "#opening-home-hero",
              start: "top 100%",
              end: "bottom",
              markers: false,
              scrub: true,
              toggleClass: "active",
            },
          })


		  // Animations for the Founders Section. //
		  const bubblesBot = document.querySelector(".founder-bubbles-bot")
		  const bubblesTop = document.querySelector(".founder-bubbles-top")

		  gsap.fromTo(bubblesBot,{ x: "20%", ease: "none"},  {
            x: "-20%",
            ease: "none",
            scrollTrigger: {
              containerAnimation: mainScroll,
              trigger: "#founder-component",
              start: "top 100%",
              end: "bottom",
              markers: false,
              scrub: true,
              toggleClass: "active",
            },
          })

		  gsap.fromTo(bubblesTop,{ x: "-20%", ease: "none"},  {
            x: "10%",
            ease: "none",
            scrollTrigger: {
              containerAnimation: mainScroll,
              trigger: "#founder-component",
              start: "top 100%",
              end: "bottom",
              markers: false,
              scrub: true,
              toggleClass: "active",
            },
          })


		// Animations for the Creativite Section. //

		  const bgContainer = document.querySelector("#creativity-hero .bg-image")
		  const creativityTitle = document.querySelector(".creativity-main")

		  const creativityImageOne = document.querySelector(".creativity-images-link")
		  const creativityImageTwo = document.querySelector(".creativity-images-video")
		  const creativityContent = document.querySelector(".creativity-images-content")

          gsap.fromTo(bgContainer,{ x: "-15%", ease: "none"},  {
            x: "15%",
            ease: "none",
            scrollTrigger: {
              containerAnimation: mainScroll,
              trigger: "#creativity-hero",
              start: "top 100%",
              end: "bottom",
              markers: false,
              scrub: true,
              toggleClass: "active",
            },
          })

		  gsap.fromTo(creativityTitle,{ x: "300px", ease: "none"},  {
            x: "0",
            ease: "none",
            scrollTrigger: {
              containerAnimation: mainScroll,
              trigger: "#creativity-hero",
              start: "top 100%",
              end: "bottom",
              markers: false,
              scrub: true,
              toggleClass: "active",
            },
          })

		  gsap.timeline({
			scrollTrigger: {
              containerAnimation: mainScroll,
              trigger: "#creativity-hero",
              start: "top 50%",
              end: "bottom",
              markers: false,
              scrub: false,
              toggleClass: "active",
            },
		  }).fromTo([creativityImageOne, creativityImageTwo],
		  {
			y:-100,
			autoAlpha:0
		  },{
			y:0,
			autoAlpha:1,
			duration: 0.5,
			stagger: {
				each:0.25
				}
			}
		)


			// Animations for the experience section
			const bgExpContainer = document.querySelector("#experiences-component .bg-image")
			gsap.fromTo(bgExpContainer,{ x: "-15%", ease: "none"},  {
            x: "15%",
            ease: "none",
            scrollTrigger: {
              containerAnimation: mainScroll,
              trigger: "#experiences-component",
              start: "top 100%",
              end: "bottom",
              markers: false,
              scrub: true,
              toggleClass: "active",
            },
          })


		}
	  }
	)

</script>


<style lang="scss">
	.home-page-wrap {
		background-color: #000;

		@media (min-width: 768px) {
			overflow-x: hidden;
			overflow-y: scroll;
		}

		.scroll {
			@media (min-width: 768px) {
				width: 100vw;
				height: 100vh;
			}
		}

		.container {
			width: 100%;
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			overflow: hidden;

			@media (min-width: 768px) {
			width: 100vw;
			height: 100vh;
			flex-wrap: nowrap;
			}
		}
	}	
</style>
