---
import LayoutHome from '../layouts/LayoutHome.astro';
import OpeningHero from '../components/Home/OpeningHero.astro';
import Founder from '../components/Home/Founder.astro';
import Creativity from '../components/Home/Creativity.astro';
import Experiences from '../components/Home/Experiences.astro';

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
	method: "POST",
	headers: {
		"content-type": "application/json",
	},
	body: JSON.stringify({
    	query: `
			query homePageQuery {
				page(id: "/", idType: URI) {
					homePage {
						homeOpeningComponent {
							homeOpeningButtonLink {
								... on Page {
									id
									uri
								}
							}
							homeOpeningButtonText
							homeOpeningTitle
							homeOpeningImage {
							altText
							sourceUrl
							}
						}
						ceoFounderComponent {
							bigPurple
							buttonText
							smallText
							buttonLink {
								... on Page {
									id
									uri
								}
							}
								
						}
						creativityComponent {
							heroImage {
								sourceUrl
								altText
							}
						}

						experiencesComponent {
							buttonText
							content
							buttonLink {
								... on Page {
									id
									uri
								}
							}
							
							heroImage {
								altText
								sourceUrl
							}
						}
					}
				}
			}
		`,
  	}),
});

const {data: {page} } = await response.json();
const title = page.seo?.title ? page.seo?.title : null;
const description = page.seo?.metaDesc
  ? page.seo?.metaDesc
  : null;
const metaImg = page.featuredImage?.node?.sourceUrl
  ? page.featuredImage?.node?.sourceUrl
  : null;

---

<LayoutHome metaTitle={title} metaDescription={description} metaImg={metaImg}>
	<div class="home-page-wrap">
		<div class="container">
			<OpeningHero data={page.homePage.homeOpeningComponent} />
			<Founder data={page.homePage.ceoFounderComponent} />
			<Creativity data={page.homePage.creativityComponent} />
			<Experiences data={page.homePage.experiencesComponent} />
		</div>
	</div>
</LayoutHome>

<script>
	import { gsap } from "gsap"
	import { ScrollTrigger } from "gsap/ScrollTrigger"
	gsap.registerPlugin(ScrollTrigger)
	let container = document.querySelector(".container")
	let mm = gsap.matchMedia()

	mm.add(
      {
        isMobile: "(max-width: 767px)",
        isDesktop: "(min-width: 768px)",
      },
	  context => {
		let { isMobile, isDesktop } = context.conditions
		if (isDesktop) {
  		let mainScroll = gsap.to(['#opening-home-hero','#founder-component', '#creativity-hero', '#experiences-component'], {
            x: () =>
              -(container.scrollWidth - document.documentElement.clientWidth) +
              "px",
            ease: "none",
            scrollTrigger: {
              invalidateOnRefresh: true,
              pin: true,
              scrub: 1,
              trigger: container,
              end: () =>
                container.scrollWidth - document.documentElement.clientWidth,
            },
          })
		}	
	  }
	)

</script>


<style lang="scss">
	.home-page-wrap {
		background-color: #000;

		@media (min-width: 768px) {
			overflow-x: hidden;
			overflow-y: scroll;
		}

		.scroll {
			@media (min-width: 768px) {
				width: 100vw;
				height: 100vh;
			}
		}

		.container {
			width: 100%;
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			overflow: hidden;

			@media (min-width: 768px) {
			width: 100vw;
			height: 100vh;
			flex-wrap: nowrap;
			}
		}
	}	
</style>
