---
import { Image } from "astro:assets";
import "./creativity.scss";
---

<div class="creativity" id="creativity-hero">
  <div class="bg-image">
    <Image
      src={Astro.props.data.heroImage.sourceUrl}
      alt={`Switchback Creative`}
      inferSize={true}
      loading="eager"
    />
  </div>
  <div class="bg-outline"></div>
  <div class="creativity-images">
    <div class="creativity-images-link">
      <a href={Astro.props.data.linkImagePage.uri}>
        <Image
          src={Astro.props.data.linkImage.sourceUrl}
          alt=""
          inferSize={true}
          loading="eager"
        />
      </a>
    </div>
    <div class="creativity-images-video">
      <!-- <div set:html={Astro.props.data.videoOrPhoto} /> -->
      <!-- <Image
        src={Astro.props.data.videoOrPhoto.sourceUrl}
        alt=""
        inferSize={true}
        loading="eager"
      /> -->

      <div class="creativity-images-video-container">
        <video
          controls
          autoplay
          loop
          muted
          src={Astro.props.data.videoOrPhoto.mediaItemUrl}></video>
      </div>
    </div>
    <div
      class="creativity-images-content"
      set:html={Astro.props.data.contentUnderImages}
    />
  </div>
  <div class="creativity-main">
    <h2>{Astro.props.data.orangeTitle}</h2>
  </div>
  <div class="creativity-strip"></div>
</div>
