---
import { Image } from 'astro:assets'
import './openingHero.scss'
import Headline from '../shared/Headline.astro';
import Button from '../shared/Button.astro';
// console.log("HERO", Astro.props.data);
---

<div class="home-opening-hero" id="opening-home-hero">
    <div class="bg-image">
        <Image src={Astro.props.data.homeOpeningImage.sourceUrl} alt={`Switchback Creative`} inferSize={true} loading="eager" />
    </div>
    <div class="bg-outline"></div>
    <div class="home-opening-hero-content">
        <div class="home-opening-hero-content-title">
            <Headline ele="h2" hlstyle="two">{Astro.props.data.homeOpeningTitle}</Headline>
        </div>
        <Button href={`${Astro.props.data.homeOpeningButtonLink.uri}`}>
            {Astro.props.data.homeOpeningButtonText}
        </Button>
    </div>
</div>