---
import { Image } from "astro:assets";
import Wrapper from "../components/shared/Wrapper.astro";
import MainNav from "../components/NavigationGsap/MainNav";
import "./header.scss";

const response = await fetch(`${import.meta.env.PUBLIC_WP_URL}/graphql`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({
    query: `
        query headerQuery {
            menu(id: "Main Menu", idType: NAME) {
                menuItems {
                    nodes {
                        label
                        uri
                        parentId
                        menuOptions {
                            menuHeaderImage {
                              sourceUrl
                              altText
                            }
                        }

                        childItems {
                            nodes {
                                label
                                uri
                                menuOptions {
                                    menuHeaderImage {
                                        sourceUrl
                                        altText
                                    }
                                }
                            }
                        }
                    }
                }
            }

            logoOptions {
                logoOptions {
                    mainLogo {
                        altText
                        sourceUrl
                    }

                    frogLogo {
                      altText
                      sourceUrl
                    }
                }
            }

            contactInformation {
              contactInformation {
                callUsPhoneNumber
                hoursOfOperation
                streetLocation
                googleMapsLink
                  socialMediaLinks {
                    facebookLink
                    instagramLink
                    linkedinLink
                  }
                }
              }


        }
    `,
  }),
});
const { data } = await response.json();
---

<header>
  <Wrapper>
    <div class="logo">
      <div class="logo-wrap">
        <h1>
          <a href="/">
            <Image
              src={data.logoOptions.logoOptions.mainLogo.sourceUrl}
              alt={`Orange Frog Productions.`}
              inferSize={true}
              loading="eager"
            />
          </a>
          <span>Orange Frog Productions.</span>
        </h1>
      </div>
    </div>
  </Wrapper>
  <MainNav
    client:only="react"
    mainMenu={data.menu}
    contactInfo={data.contactInformation.contactInformation}
    frogLogo={data.logoOptions.logoOptions.frogLogo}
  />
</header>
